{
    "plugins": ["transform-react-jsx"],
    "presets": [
        [
            "env",
            {
                "production": {
                    "plugins": [
                        "transform-react-constant-elements"
                    ]
                }
            }
        ]
    ]
}